:root {
    --max-width: 1024px;
}

body {
    max-width: var(--max-width);
}

#myfoto {
    float: right;
    padding-left: 10px;
}

#resume {
    font-weight: bold;
    font-size: 36pt;
    text-align: center;
}

#fio {
    font-weight: bolder;
    font-size: 24pt;
    padding-top: 200px;
}
